body {
    font-family: 'League Gothic', sans-serif; 
    min-height: 100vh;
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-rows: 250px auto 250px;
    grid-template-areas:
        "header"
        "aside" "main"
        "footer ";
    text-align: center;
    color: white;
    font-weight: bold;
}

@media (min-width: 600px) {
    body {
            grid-template-columns: minmax(auto, 250px) 
            minmax(250px, 1fr) 
            minmax(auto, 250px);
            grid-template-rows: min-content 1fr min-content;
            grid-template-areas: 
            "header header header"
            "aside main main"
            "footer footer footer";    
        }
}



.header {
    grid-area: header;
    /* height: 80px; */
    background-color: #69ca95;
}

.image {
    float: left;
    width: 10%;
    height: 100%;
    border-radius: 40%;
    border-color: red;
    border-width: 6px;
    border-style: outset;
}

.aside {
    grid-area: aside;
    background-color: #8596e6;
}

.main {
    grid-area: main;
    background-color: rgb(227, 149, 101);
}

table, th, td {
    border: 2px solid black;
}

#top_row {
    background-color: #01136f;
    width: 100%;
}

.footer {
    grid-area: footer;
    background-color: #016f03;
}

h1 {
    text-align: center;
    color: #090909;
    /* margin-bottom: 0px;
    margin-top: 0px; */
}


/* 
#chips-el:hover {
    color: #8a0803b6;
    box-shadow: 0px 2px 0px 0px #222121, inset -1px -3px 6px 1px #515151;

}

#chips-el:active {
    color: #8a0803b6;
    background-color: #ecb677ee;
    box-shadow: 0px 0px 0px 0px #222121, inset -1px -3px 2px 1px #515151;

}


button {
    color: #016f32;
    cursor: pointer;
    width: 150px;
    background: rgb(0, 0, 0);
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
} */